@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Fira Mono', monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}